/* Colores semanticos del tema light, falta degradado */
/* $paleta_app_a : #690061;
$paleta_app_b : #b840ac;
$paleta_app_c : #FF8200; */
$paleta_app_a : #690061;
$paleta_app_b : #b840ac;
$paleta_app_c : #FF8200;

$paleta_bg_a : #a1bb2e;
$paleta_bg_b : #cbe06e;
$paleta_bg_c : #a1bb2e;

$paleta_gris_a : #858383;
$paleta_gris_b : #D9D9D9;
$paleta_gris_c : #EFEDED;

$paleta_dark : #000;
$paleta_light: #fff;

/*
    Colores semánticos
    body, head, nav, aside, main, footer
*/

$color_lg_body_fg :  #194891;
$color_lg_body_bg :  #fff;

$color_lg_head_fg :  #fff;
$color_lg_head_bg :  #194891;

$color_lg_nav_fg :  #fff;
$color_lg_nav_bg :  #194891;

$color_lg_aside_fg :  #fff;
$color_lg_aside_bg :  #194891;
$color_lg_aside_bg_start :#ffffff; /* #9A278F;*/
$color_lg_aside_bg_end :#ffffff; /* #690061;*/

$color_lg_main_fg :  #fff;
$color_lg_main_bg :  #194891;

$color_lg_footer_fg :  #fff;
$color_lg_footer_bg :  #194891;


/* Colores del tema dark */
$color_dark_app :  #fff;

$white: #fff;
$black: #000;

$primary: #194891; /* RENE */
$info: #2196f3;
$success: #1abc9c;
$warning: #e2a03f;
$danger: #e7515a;
$secondary: #805dca;
$dark: #3b3f5c;


$l-primary: #eaf1ff;
$l-info: #e7f7ff;
$l-success: #ddf5f0;
$l-warning: #fff9ed;
$l-danger: #fff5f5;
$l-secondary: #f3effc;
$l-dark: #e3e4eb;




